.wrapper-chat {
    background: linear-gradient(to bottom, #f3efef, #cbe9fa);
    display: flex;
}

.w-chat {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 10px;
    height: 100vh;
}



.chat-content {
    display: flex;
    flex-grow: 1;
    gap: 20px;
    min-height: 0;
    height: 0;
}

.chat-list .room-list {
    overflow-y: auto;
}

.chat-content .chat-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    max-height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #f3efef, #cbe9fa);
}

.chat-content .chatbox {
    flex: 3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    min-height: 0;
}

.room-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-list .tl {
    font-size: 18px;
    font-weight: 500;
    padding: 30px;
    padding-bottom: 0;
    border-radius: 5px;
}


.room-list .room-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 30px;
    padding-bottom: 10px;
    border-bottom: solid 1px #ddd;
}

.room-list .room-item .avt img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fa3838;
}

.room-list .room-item .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
    cursor: pointer;
}

.room-list .room-item .info .last-message {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    opacity: 0.7;
}

.chatbox .chatting-with .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    gap: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.chatbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: linear-gradient(to bottom, #f3efef, #cbe9fa);
}

.chatbox .chatting-with .info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fa3838;

}

.chat-space {
    width: 100%;
    margin: 30px auto;
    flex: 1;
    padding: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 100%;
    min-height: 0;
}

.message {
    display: flex;
    margin-bottom: 12px;
}

.message.left {
    justify-content: flex-start;
}

.message.right {
    justify-content: flex-end;
}

.bubble {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 18px;
    background: #e0e0e0;
    color: #222;
    font-size: 15px;
    position: relative;
}

.message.right .bubble {
    background: #78e08f;
    color: #fff;
}

.time {
    display: block;
    font-size: 11px;
    color: #888;
    margin-top: 4px;
    text-align: right;
}

.chat-input {
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    padding: 10px 50px;
}

#messageInput{
    flex: 1;
    padding: 8px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 15px;
}

#sendBtn {
    padding: 8px 18px;
    border-radius: 6px;
    border: none;
    background: #7F7FD5;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.wrapper-chat .chat-header {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #f16208;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.chat-header .my-info .info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    gap: 10px;
}

.chat-header .my-info .info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fa3838;
}

.chat-header .name {
    font-size: 20px;
    font-weight: 500;
    color: #f16208;
}