.header {
    text-align: center;
    justify-content: center;
}

.header .grid {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

.grid .login-group {
    display: flex;
    text-align: center;
}

.login-group>img {
    width: 20%;
}

.login-group>div {
    position: absolute;
    font-size: 25px;
    font-weight: 100px;
    top: 31px;
    left: 135px;
}

.grid .link-group {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;

}

.link-group>a {
    color: #EE4D2D;
    cursor: pointer;
    font-size: .875rem;
}

.forgot-password-container .header {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.forgot-password {
    width: 100%;
    margin: 150px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.forgot-password .title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
.forgot-password .forgot-password-form {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
}
.forgot-password .forgot-password-form .input{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.forgot-password .forgot-password-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    flex: 1;
    box-sizing: border-box;
}
.forgot-password .forgot-password-form button {
    padding: 10px;
    background-color: #e85538;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.forgot-password .forgot-password-form button:hover {
    background-color: #d8442f;
}
.forgot-password .forgot-password-form .btn-submit {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.forgot-password .forgot-password-form label{
    min-width: 165px;
    display: inline-block;
}