@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a{
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
}
.header a,
.header span{
    color: #ffffff;
    font-size: 14px;
}
.header i{
    color: #ffffff;
    font-size: 20px;
}
.header{
    width: 100%;
    background-color: #fb5732;
    height: 120px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
}
.header .top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 10px;
}
.header .top .top-left{
    display: flex;
    align-items: center;
    margin: 0;
}
.header .top .top-left .wall{
    border-left:solid 1px #ffffff;
    padding-left: 5px;
    margin-left: 5px;
}
.header .top .top-left .connect{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .top .top-left .w-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}
.header .top .top-left .w-logo i{
    margin-right: 10px;
}
.header .top .top-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .top .top-right .w-option{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.header .top .top-right .notification-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.header .top .top-right .w-option span{
    padding-bottom: 3px;
}
.header .top .top-right .w-option i{
    margin-right: 5px;
}

.header .top .top-right .w-option .avt{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 28px;
    border-radius: 50%;
    background: #ee4d2d;
    color: #fff;
    font-size: 15px;
    margin-right: 5px;
    background-image: url("../images/img-avatar/avatar-custom.jpg");
    background-size: cover;
}

.header .top .top-right .notification {
    position: relative;
    cursor: pointer;
}
.header .top .top-right .notification-box {
    display: none;
    position: absolute;
    top: 17px;
    margin-right: 10px;
    margin-top: 5px;
    right: 0;
    width: 400px;
    background: #fff2ee;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.header .top .top-right .notification .notification-box {
    display: block;
    z-index: 100;
}
.header .top .top-right .notification-box::before{
    content: 'Thông báo mới nhận';
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    right: 10px;
    background-color: #fff;
    padding: 5px;
}
.header .top .top-right .notification-box::after{
    content: 'Xem tất cả';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: 10px;
    background-color: #fff;
    padding: 5px;
}

.header .top .top-right .notification-box .icon-top{
    position: absolute;
    top: -16px;
    right: 40px;
    z-index: 100;
}

.header .top .top-right .notification-box .w-noti{
    display: flex;
    align-items: start;
    justify-content: start;
    color: #000;
    padding: 10px;
}
.header .top .top-right .notification-box .w-noti img{
    width: 80%;
    height: auto;
    object-fit: cover;
    display: block;
}
.header .top .top-right .notification-box .w-noti .noti-infor{
    display: flex;
    flex-direction: column;
}
.header .top .top-right .notification-box .w-noti span{
    font-size: 12px;
    color: #000;
}
.header .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .bottom .bottom-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .bottom .bottom-left img{
    width: 160px; 
    height:50px;
    object-fit: cover; 
}
.header .bottom .bottom-main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}
.header .bottom .bottom-main .w-search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    width: 100%;
    position: relative;
}
.header .bottom .bottom-main .w-search input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.header .bottom .bottom-main .w-search input::placeholder{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.header .bottom .bottom-main .w-search button{
    position: absolute;
    right: 3px;
    background-color: #fb5732;
    width: 65px;
    height: 37px;
    border: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .bottom .bottom-main .w-search button i{
    color: #ffffff;
    font-size: 20px;
}
.header .bottom .bottom-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .bottom .bottom-right i{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    font-size: 35px;
}
.w-option {
    position: relative;
}

.w-option .drop-down-box {
    position: absolute;
    border-radius: 5%;
    box-shadow: 0px 4px 6px rgba(251, 87, 50, 0.5);
    background-color: #ffffff;
    z-index: 100;
    top: 100%;
    right: 0px;
    min-width: 150px;
}

.w-option .drop-down-box li {
    padding: 0px 20px 10px 20px;
    cursor: pointer;
    color: #000000;
    font-size: 14px;
}

.w-option .drop-down-box li a{
    color: #000000;
}

.w-option .icon-top {
    position: absolute;
    top: -16px;
    right: 40px;
    z-index: 100;
}

.hide {
    display: none !important;
}
