html, body {
    margin: 0px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.big-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    text-align: center;
    justify-content: center;
}

.header .grid {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: auto;
}

.grid .login-group {
    display: flex;
    text-align: center;
}

.login-group > img {
    width: 20%;
}

.login-group > div {
    position: absolute;
    font-size: 25px;
    font-weight: 100px;
    top: 31px;
    left: 135px;
}

.grid .link-group {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.link-group > a {
    color: #EE4D2D;
    cursor: pointer;
    font-size: .875rem;
}

.contain-body {
    background-color: rgb(238, 77, 45);
    max-height: 1500px;
    display: flex;
    text-align: center;
    align-items: center;
}

.contain-body a {
    text-decoration:  none;
}

.contain-body button {
    border: none;
    background-color: #ffff;
    cursor: pointer;
}

.contain-body input {
    border: 0;
    padding: 11px;
    outline: none;
    height: 16px;
    filter: none;
    line-height: normal;
}

.contain-body .content {
    width: 1200px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}

.content .space {
    position: relative;
    width: 640px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

.space .space-icon {
    width: 50%;
}

.content .right-space {
    width: 400px;
    background-color: #ffff;
    border-radius: 1%;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.right-space .space-header {
    width: 400px;
    height: 103px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.space-header .space-header-content {
    width: 339px;
    color: #222;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
}

.right-space .space-body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.space-body .login-form {
    width: 340px;
}

.login-form .warn-box {
    background-color: #fff9fa;
    border: 1px solid rgba(255, 66, 79, .2);
    border-radius: 2px;
    box-sizing: border-box;
    justify-content: flex-start;
    padding: .75rem .9375rem .75rem 0; 
    display: flex;
    margin-bottom: 24px;
    font-size: .875rem;
    text-align: left;
}

.warn-box .warn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: .9375rem;
    padding-right: .9375rem;
    font-size: 20px;
}

.login-form .normal-box {
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .02);
    box-sizing: border-box;
    height: 2.5rem;
    overflow: hidden;
    width: 100%;
}

.login-form .normal-key {
    width: 315px;
}

.login-form .pass-box {
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .02);
    box-sizing: border-box;
    height: 2.5rem;
    overflow: hidden;
    width: 100%;
}

.pass-box .password {
    width: 266px;
}

.pass-box .eye-btn {
    align-items: center;
    font-size: 0;
    background: transparent;
    border: 0;
    outline: none;
    padding: 0 .9375rem 0 .75rem;
}

.login-form .code-box {
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 2px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, .02);
    box-sizing: border-box;
    height: 2.5rem;
    overflow: hidden;
    width: 100%;
}

.code-box .send-btn {
    background-color: rgb(238, 77, 45);
    color: #ffff;
    height: 80%;
    width: 20%;
    border-radius: 5%;
}

.code-box .code-box-input {
    width: 235px;
}

.eye-btn > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
}

.authen-input {
    color: #ff424f;
    font-size: .75rem;
    margin: 0;
    min-height: 1rem;
    padding: .25rem 0 0;
    text-align: left;
}

.login-form .partition {
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.partition .dash {
    background-color: #dbdbdb;
    flex: 1;
    height: 1px;
    width: 100%;
}

.partition .ptt-center {
    color: #ccc;
    font-size: .75rem;
    padding: 0 16px;
    text-transform: uppercase;
}

.login-form .other {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
    margin-top: 8px;
}

.other > button {
    border: 1px solid rgba(0, 0, 0, .26);
    border-radius: 2px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .87);
    font-size: .875rem;
    height: 40px;
    outline: none;
    padding: 0 2px;
    width: 100%;
    margin: 5px;
    padding-right: 8px;
}

.login-form .end-form {
    font-size: .875rem;
    color: rgba(0, 0, 0, .26);
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.end-form > a {
    font-size: .875rem;
    color: #ee4d2d;
    font-weight: 500;
}

.login-form .normal-btn {
    background-color: #ee4d2d;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .09);
    color: #fff;
    width: 100%;
    height: 2.5rem;
    min-width: 8.75rem;
    border-radius: .125rem;
    padding: 0 .625rem;
    font-size: 14px;
    color: #fff;
}

.link-bot {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link-bot > a {
    color: #05a;
    font-size: .75rem;
}

.google-btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.google-icon {
    background-image: url("../images/google-icon-logo-png-transparent-Photoroom.png");
    background-size: cover; 
    width: 20px; 
    height: 20px; 
    margin-right: 8px;
}

.pad {
    height: 20px;
    width: 340px;
    padding: 4px 0 0 0;
}

.box-focus {
    border-color: rgba(0, 0, 0, .54);
    box-shadow: 0 0 4px rgba(0, 0, 0, .14);
}

.error-input {
    border-color: #ff424f;
    background: #fff6f7;
}

.error-bgr {
    background: #fff6f7;
}

.hide {
    display: none !important;
}

.btn-disbled {
    cursor: not-allowed;
    opacity: .7;
}

/* bi loi csssssss */

.footer{
    border-top: #fb5732 solid 4px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
.footer .wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #cbc9c9;
    padding: 50px 0 10px 0;
}
.footer ul{
    margin: 0;
    padding: 0;
}
.footer ul li a{
    text-decoration: none;
    color: #000;
    font-size: 13px;
}

.footer ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

.footer .div-footer{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.footer .div-footer .title{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

.footer .payment-shipping{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.footer .payment-shipping .title{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer .payment-shipping .content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.footer .payment-shipping .list{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
.footer .payment-shipping .content img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    padding: 5px;
}
.footer .content .social a{
    display: flex;
    align-items: center;
}
.footer .content .social img{
    width: 30px;
    height: auto;
    object-fit: cover;
    display: block;
    padding: 5px;
    opacity: .7;
}
.footer .download-app{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}
.footer .download-app .title{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.footer .download-app img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
.footer .download-app .content{
    display: flex;
    gap: 10px;
}
.footer .download-app .content .app{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .footer-bottom{
    font-size: 14px;
}
.footer .footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.footer .footer-bottom .shopee-countries{
    display: flex;
    gap: 10px;
}
.footer .footer-bottom .shopee-countries ul{
    display: flex;
    gap: 10px;
}
.shopee-countries li::after {
    content: " | ";
    color: #888;
}

.shopee-countries li:last-child::after {
    content: "";
}
