.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.pop-up .check-box {
    display: flexbox;
    justify-content: center;
    background-color: white;
    align-items: center;
    /* width: 35%;
    height: 20%; */
    min-height: 209px;
    min-width: 500px;
    border-radius: 5px;
}

.pop-up .check-box .popup-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fb5732;
    color: white;
    height: 30px;
    /* height: 20%; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pop-up .check-box .popup-header .padding{
    width: 95%;
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: right;
}

.pop-up .check-box .popup-header .padding p {
    margin-bottom: 0px;
}

.pop-up .check-box .popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
    background-color: #ffffff;
}

.pop-up .check-box .popup-content .content{
    width: 80%;
    height: 100%;
    text-align: left;
    align-items: left;
    justify-content: left;
}

.pop-up .check-box .popup-content .content .pop-row{
    display: flex;
    margin: 20px 0px;
    align-items: center;
    position: relative;
}

.pop-row label {
    width: 22%; 
}

.pop-row input {
    flex: 1; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pop-row button {
    position: absolute;
    background-color: white;
    color: #fb5732;
    border: 2px solid #fb5732;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
    left: 78%;
    height: 78%;
    width: 20%;
}

.pop-up .check-box .popup-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fb5732;
    height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pop-up .check-box .popup-footer .padding {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pop-up .check-box .popup-footer .padding button {
    background-color: white;
    color: #fb5732;
    border: 2px solid #fb5732;
    border-radius: 5px;
    padding: 0px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.pop-up .check-box .popup-footer .padding button:hover {
    background-color: #fb5732;
    color: white;
}


.form-address input{
    background-color: transparent;
    font-size: 16px;
    border-radius: 4px;
    padding: 0 10px;
    border: solid 1px #a09c9c;
    color: #222;
    font-size: 14px;
    height: 38px;
    min-width: 0;
    outline: none;
    width: 100%;
}
.form-address label{
    color: rgba(0, 0, 0, .6);
    font-weight: 500;
    padding-bottom: 5px;
}
.form-address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.form-address .title{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    margin-bottom: 20px;
}
.form-address .main-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.form-address .main-content .name-phone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 15px;
}
.form-address .main-content .address{
    width: 100%;
}
.form-address .main-content .address-detail{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-address .main-content .address-detail textarea{
    width: 100%;
    height: 70px;
    overflow: hidden;
    border: solid 1px #a09c9c;
    border-radius: 4px;
    padding: 10px;
    outline: none;
}
.form-address .btn-form-address{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}
.form-address .btn-form-address .btn{
    align-items: center;
    background: none;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    justify-content: center;
    min-width: 120px;
    outline: none;
    padding: 10px;
}
.form-address .btn-form-address .btn-back{
    color: #606060;
    background-color: #fff;
    border: 1px solid #bcbaba;
}
.form-address .btn-form-address .btn-submit{
    background-color: #ee4d2d;
    color: #fff;
}
