.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.pop-up .check-box {
    display: flexbox;
    justify-content: center;
    background-color: white;
    align-items: center;
    width: 35%;
    height: 20%;
    min-height: 223px;
    min-width: 597px;
    border-radius: 5px;
}

.pop-up .check-box .popup-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fb5732;
    color: white;
    height: 20%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.pop-up .check-box .popup-header .padding{
    width: 95%;
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: right;
}

.pop-up .check-box .popup-header .padding p {
    margin-bottom: 0px;
}

.pop-up .check-box .popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80%;
    background-color: #ffffff;
}

.pop-up .check-box .popup-content .content{
    width: 80%;
    height: 100%;
    text-align: left;
    align-items: left;
    justify-content: left;
}

.pop-up .check-box .popup-content .content .pop-row{
    display: flex;
    margin: 20px 0px;
    align-items: center;
    position: relative;
}

.pop-row label {
    width: 22%; 
}

.pop-row input {
    flex: 1; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pop-row button {
    position: absolute;
    background-color: white;
    color: #fb5732;
    border: 2px solid #fb5732;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
    left: 78%;
    height: 78%;
    width: 20%;
}

.pop-up .check-box .popup-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fb5732;
    height: 20%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pop-up .check-box .popup-footer .padding {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pop-up .check-box .popup-footer .padding button {
    background-color: white;
    color: #fb5732;
    border: 2px solid #fb5732;
    border-radius: 5px;
    padding: 0px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}

.pop-up .check-box .popup-footer .padding button:hover {
    background-color: #fb5732;
    color: white;
}