<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form th:action="@{/adminlogin}" method="post">
        <input id="username" type="text" name="username" placeholder="User name">
        <input type="password" id="password" name="password" placeholder="Password">
        <button type="submit" id="login-btn">Đăng nhập</button>
    </form>
</body>
</html>