<body>
    <div th:fragment="footer">
        <div class="container">
            <div class="footer-top">
                <div class="wrapper">
                    <div class="div-footer">
                        <div class="title">
                            DỊCH VỤ KHÁCH HÀNG
                        </div>
                        <div class="content">
                            <ul class="shopee-menu">
                                <li><a href="#">Trung Tâm Trợ Giúp Shopee</a></li>
                                <li><a href="#">Shopee Blog</a></li>
                                <li><a href="#">Shopee Mall</a></li>
                                <li><a href="#">Hướng Dẫn Mua Hàng/Đặt Hàng</a></li>
                                <li><a href="#">Hướng Dẫn Bán Hàng</a></li>
                                <li><a href="#">Ví ShopeePay</a></li>
                                <li><a href="#">Shopee Xu</a></li>
                                <li><a href="#">Đơn Hàng</a></li>
                                <li><a href="#">Trả Hàng/Hoàn Tiền</a></li>
                                <li><a href="#">Liên Hệ Shopee</a></li>
                                <li><a href="#">Chính Sách Bảo Hành</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="div-footer">
                        <div class="title">SHOPEE VIỆT NAM</div>
                        <div class="content">
                            <ul class="shopee-info">
                                <li><a href="#">Về Shopee</a></li>
                                <li><a href="#">Tuyển Dụng</a></li>
                                <li><a href="#">Điều Khoản Shopee</a></li>
                                <li><a href="#">Chính Sách Bảo Mật</a></li>
                                <li><a href="#">Shopee Mall</a></li>
                                <li><a href="#">Kênh Người Bán</a></li>
                                <li><a href="#">Flash Sale</a></li>
                                <li><a href="#">Tiếp Thị Liên Kết</a></li>
                                <li><a href="#">Liên Hệ Truyền Thông</a></li>
                            </ul>
    
                        </div>
                    </div>
                    <div class="payment-shipping">
                        <div class="payment">
                            <div class="title">
                                THANH TOÁN
                            </div>
                            <div class="content">
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-payment/visa.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-payment/mastercard.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-payment/jcb.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-payment/american-express.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-payment/cod.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-payment/tra-gop.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-payment/s-pay.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-payment/s-pay-later.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="shipping">
                            <div class="title">
                                VẬN CHUYỂN
                            </div>
                            <div class="content">
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-shipping/spx.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-shipping/giaohangnhanh.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-shipping/viettel-post.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-shipping/vietnam-post.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-shipping/j&t.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-shipping/grab.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-shipping/ninjavan.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-shipping/be.png" alt="">
                                    </a>
                                </div>
                                <div class="list">
                                    <a href="#">
                                        <img src="/assets/images/img-shipping/ahamove.png" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div-footer">
                        <div class="title">
                            THEO DÕI SHOPEE
                        </div>
                        <div class="content">
                            <ul class="social">
                                <li><a href="#">
                                    <img src="/assets/images/img-logo-social/fb.svg" alt="">
                                    <span>Facebook</span>
                                </a></li>
                                <li><a href="#">
                                    <img src="/assets/images/img-logo-social/insta.svg" alt="">
                                    <span>Instagram</span>
                                </a></li>
                                <li><a href="#">
                                    <img src="/assets/images/img-logo-social/linkedin.svg" alt="">
                                    <span>LinkedIn</span>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="download-app">
                        <div class="title">
                            TẢI ỨNG DỤNG SHOPEE
                        </div>
                        <div class="content">
                            <div class="qr">
                                <img src="/assets/images/img-download/qr.png" alt="">
                            </div>
                            <div class="app">
                                <a href="#">
                                    <img src="/assets/images/img-download/app-store.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="/assets/images/img-download/ch-play.png" alt="">
                                </a>
                                <a href="#">
                                    <img src="/assets/images/img-download/app-gallery.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="copyright">
                    © 2025 Shopee. Tất cả các quyền được bảo lưu.
                </div>
                <div class="shopee-countries">
                    <span>Quốc gia & Khu vực:</span>
                    <ul>
                        <li>Singapore</li>
                        <li>Indonesia</li>
                        <li>Thái Lan</li>
                        <li>Malaysia</li>
                        <li>Việt Nam</li>
                        <li>Philippines</li>
                        <li>Brazil</li>
                        <li>México</li>
                        <li>Colombia</li>
                        <li>Chile</li>
                        <li>Đài Loan</li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</body>