<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>
    <div th:fragment="header">
        <div class="container">
            <div class="top">
                <div class="top-left">
                    <a href="#">Kênh người bán</a>
                    <a class="wall" href="#">Tải ứng dụng</a>
                    <div class="wall connect">
                        <span>Kết nối</span>
                        <div class="w-logo">
                            <i class='bx bxl-facebook-circle'></i>
                            <i class='bx bxl-instagram-alt' ></i>
                        </div>
                    </div>
                </div>
                <div class="top-right">
                    <div class="w-option notification">
                        <i class='bx bx-bell' ></i>
                        <span> Thông báo</span>
                    </div>
                    <div class="w-option help">
                        <i class='bx bx-help-circle'></i>
                        <span>Hỗ trợ</span>
                    </div>
                    <div class="w-option language">
                        <i class='bx bx-world'></i>
                        <span>Tiếng Việt</span>
                    </div>
                    <div class="w-option account">
                        <div class="avt"></div>
                        <span>My Account</span>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="bottom-left">
                    <a href="#">
                        <img src="/assets/images/Shopee.png" alt="">
                    </a>
                </div>
                <div class="bottom-main">
                    <form class="w-search" action="">
                        <input class="input-search" type="text" placeholder="Tìm sản phẩm, thương hiệu, và tên shop">
                        <button class="submit-search" type="submit">
                            <i class='bx bx-search' ></i>
                        </button>
                    </form>
                </div>
                <div class="bottom-right">
                    <i class='bx bx-cart'></i>
                </div>
            </div>
        </div>
    </div>
</body>