<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/cancel-order.css">
</head>

<body>
    <div th:fragment="cancel-order">
        <div class="wrapper-cancel-order">
            <div class="header-main">
                <div class="title">
                    <span>Đơn huỷ/Giao hàng không thành công</span>
                </div>
            </div>
            <div class="navbar-primary">
                <div class="tabs">
                    <span class="active">Tất cả <span class="count" th:text="'('+${canceledCart}+')'">(112)</span></span>
                    <!-- <span>Đơn huỷ<span class="count">(37)</span></span>
                    <span>Đơn giao hàng không thành công <span class="count">(35)</span></span> -->
                </div>
                <!-- <div class="sub-filters">
                    <div class="w-search">
                        <div class="id-search btn-search">
                            <label for="IdOrder">ID đơn hàng</label>
                            <input id="IdOrder" type="text" placeholder="Nhập ID đơn hàng">
                            <button class="search"><i class='bx bx-search'></i></button>
                        </div>
                        <div class="name-search btn-search">
                            <label for="NameProduct">Tên sản phẩm</label>
                            <input id="NameProduct" type="text" placeholder="Nhập tên sản phẩm">
                            <button class="search"><i class='bx bx-search'></i></button>
                        </div>
                    </div>
                    <div class="date-search">
                        <div class="title">
                            <span>Ngày tạo đơn</span>
                        </div>
                        <div class="date-time">
                            <div class="start-date date">
                                <label for="DateOrderStart">Ngày bắt đầu</label>
                                <input id="DateOrderStart" type="date">
                            </div>
                            <div class="end-date date">
                                <label for="DateOrderEnd">Ngày kết thúc</label>
                                <input id="DateOrderEnd" type="date">
                            </div>
                            <button class="search">Áp dụng</button>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="bottom-main">
                <table class="order-table">
                    <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Số tiền</th>
                            <th>Tên người mua</th>
                            <th>Lý do</th>
                            <th>Trạng thái</th>
                            <th>Thời gian huỷ</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody th:each="transaction : ${transactions}" class="order-list">
                        <tr class="order-id">
                            <td colspan="7">
                                <span class="title">ID đơn hàng:</span>
                                <span class="id" th:text="${transaction.id}">211025R7H5KDFQ</span>
                            </td>
                        </tr>
                        <tr class="order-row products">
                            <td class="list-product">
                                <div  th:each="cart : ${transaction.carts}" class="product-info">
                                    <img src="/assets/images/img-products/product-1.webp" alt="">
                                    <div>
                                        <div th:text="${cart.productVatiants.name}">Áo thun 123456</div>
                                        <div th:text="${cart.productVatiants.sku}" class="type">Size L</div>
                                    </div>
                                </div>
                                <!-- <div class="product-info">
                                    <img src="/assets/images/img-products/product-1.webp" alt="">
                                    <div>
                                        <div>Áo thun 123456</div>
                                        <div class="type">Size L</div>
                                    </div>
                                </div> -->
                            </td>
                            <td th:text="'₫'+${transaction.total}">₫500.000</td>
                            <td><span class="buyer-username" th:text="${transaction.carts[0].user.name}">abc123</span></td>
                            <td>
                                <span th:text="${transaction.reason.reason}">Không nhận hàng</span>
                            </td>
                            <td>
                                <span class="reason" th:text="${transaction.reason.status}">Đang được hoàn về kho</span>
                            </td>
                            <td>
                                <span class="date-time-cancel" th:text="${#temporals.format(transaction.modifiedDate, 'dd/MM/yyyy HH:mm')}">1/6/2025 11h30</span>
                            </td>
                            <td>
                                <a href="#">Xem chi tiết</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/assets/js/cancel-order.js"></script>
    </div>
</body>

</html>