<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/order-manage.css">
</head>

<body>
    <div th:fragment="order-manage">
        <div class="all-order-manage">
            <div class="header-main">
                <div class="title">
                    <span>Quản lý đơn hàng</span>
                </div>
                <div class="btn-order-options">
                    <button class="add-new-product">
                        <i class='bx  bx-plus'></i>
                        <span onclick="window.location.href='/seller/addproduct'">Thêm sản phẩm mới</span>
                    </button>
                    <button class="batch-order-process">
                        <i class='bx  bx-shopping-bag'></i>
                        <span>Giao đơn hàng loạt</span>
                    </button>
                </div>
            </div>
            <div class="navbar-primary">
                <div class="tabs">
                    <a th:href="@{/seller(status='all', page='purchase')}">
                        <span th:classappend="${statusFilter} == 'all' ? ' active'">Tất cả <span class="count"
                                th:text="'('+ ${allCart} +')'">(112)</span></span>
                    </a>
                    <a th:href="@{/seller(status='2', page='purchase')}">
                        <span th:classappend="${statusFilter} == '0' ? ' active'">
                            Chờ xác nhận <span class="count" th:text="'('+ ${confirmCart} +')'">(37)</span>
                        </span>
                    </a>

                    <a th:href="@{/seller(status='3', page='purchase')}">
                        <span th:classappend="${statusFilter} == '1' ? ' active'">
                            Đang đóng gói <span class="count" th:text="'('+ ${packCart} +')'">(35)</span>
                        </span>
                    </a>

                    <a th:href="@{/seller(status='4', page='purchase')}">
                        <span th:classappend="${statusFilter} == '2' ? ' active'">
                            Chờ lấy hàng <span class="count" th:text="'('+ ${waitCart} +')'">(20)</span>
                        </span>
                    </a>

                    <a th:href="@{/seller(status='1', page='purchase')}">
                        <span th:classappend="${statusFilter} == '3' ? ' active'">
                            Đang giao <span class="count" th:text="'('+ ${onDeliveryCart} +')'">(2)</span>
                        </span>
                    </a>

                    <a th:href="@{/seller(status='5', page='purchase')}">
                        <span th:classappend="${statusFilter} == '4' ? ' active'">
                            Đã giao <span class="count" th:text="'('+ ${deliveredCart} +')'">(5)</span>
                        </span>
                    </a>

                    <a th:href="@{/seller(status='6', page='purchase')}">
                        <span th:classappend="${statusFilter} == '5' ? ' active'">
                            Đã huỷ <span class="count" th:text="'('+ ${canceledCart} +')'">(15)</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="bottom-main">
                <div class="navbar-secondary">
                    <!-- <div class="sub-filters">
                        <div class="w-search">
                            <div class="id-search btn-search">
                                <label for="IdOrder">ID đơn hàng</label>
                                <input id="IdOrder" type="text" placeholder="Nhập ID đơn hàng">
                                <button class="search"><i class='bx bx-search'></i></button>
                            </div>
                            <div class="name-search btn-search">
                                <label for="NameProduct">Tên sản phẩm</label>
                                <input id="NameProduct" type="text" placeholder="Nhập tên sản phẩm">
                                <button class="search"><i class='bx bx-search'></i></button>
                            </div>
                        </div>
                        <div class="date-search">
                            <div class="title">
                                <span>Ngày tạo đơn</span>
                            </div>
                            <div class="date-time">
                                <div class="start-date date">
                                    <label for="DateOrderStart">Ngày bắt đầu</label>
                                    <input id="DateOrderStart" type="date">
                                </div>
                                <div class="end-date date">
                                    <label for="DateOrderEnd">Ngày kết thúc</label>
                                    <input id="DateOrderEnd" type="date">
                                </div>
                                <button class="search">Áp dụng</button>
                            </div>
                        </div>
                    </div> -->
                </div>
                <table class="order-table">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                            <th>Trạng thái | Đếm ngược</th>
                            <th>Thời gian tạo</th>
                            <th>Thời gian giao hàng</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody th:each="transaction : ${transactions}" class="order-list">
                        <tr class="order-id">
                            <td colspan="7">
                                <span class="title">ID đơn hàng:</span>
                                <span class="id" th:text="${transaction.id}">211025R7H5KDFQ</span>
                            </td>
                        </tr>
                        <tr class="order-row products">
                            <td class="list-product">
                                <div class="product-info" th:each="cart : ${transaction.carts}">
                                    <img src="/assets/images/img-products/product-1.webp" alt="">
                                    <div>
                                        <div th:text="${cart.productVatiants.name}">Áo thun 123456</div>
                                        <div th:text="${cart.productVatiants.sku}" class="type">Size L</div>
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div th:each="cart : ${transaction.carts}">
                                    <div th:text="${cart.orderQuantity}">1</div>
                                </div>
                            </td>
                            <td th:text="'₫'+${transaction.total}">₫500.000</td>
                            <td>
                                <div class="order-status">
                                    <div th:if="${transaction.shippingStatus == 1}">
                                        <span class="seller-status transferred">Đang giao</span>
                                        <div class="shopee-warning">
                                            <span class="shopee-status cancel-order">Huỷ đơn hàng trong <span
                                                    class="cancel-time">1</span> ngày</span>
                                            <!-- <span class="note-cancel-order">Vui lòng giao hàng, nếu không, đơn sẽ bị huỷ tự
                                            động vào ngày
                                            <span class="date-cancel">1/6/2025</span></span> -->
                                        </div>
                                    </div>

                                    <div th:if="${transaction.shippingStatus == 2}">
                                        <span class="seller-status transferred">Chờ xác nhận</span>
                                        <div class="shopee-warning">
                                            <span class="shopee-status cancel-order">Huỷ đơn hàng trong <span
                                                    class="cancel-time">1</span> ngày</span>
                                            <!-- <span class="note-cancel-order">Vui lòng giao hàng, nếu không, đơn sẽ bị huỷ tự
                                            động vào ngày
                                            <span class="date-cancel">1/6/2025</span></span> -->
                                        </div>
                                    </div>

                                    <div th:if="${transaction.shippingStatus == 3}">
                                        <span class="seller-status transferred">Đang đóng gói</span>
                                        <div class="shopee-warning">
                                            <span class="shopee-status cancel-order">Huỷ đơn hàng trong <span
                                                    class="cancel-time">1</span> ngày</span>
                                            <!-- <span class="note-cancel-order">Vui lòng giao hàng, nếu không, đơn sẽ bị huỷ tự
                                            động vào ngày
                                            <span class="date-cancel">1/6/2025</span></span> -->
                                        </div>
                                    </div>

                                    <div th:if="${transaction.shippingStatus == 4}">
                                        <span class="seller-status transferred">Chờ lấy hàng</span>
                                        <div class="shopee-warning">
                                            <span class="shopee-status cancel-order">Huỷ đơn hàng trong <span
                                                    class="cancel-time">1</span> ngày</span>
                                            <!-- <span class="note-cancel-order">Vui lòng giao hàng, nếu không, đơn sẽ bị huỷ tự
                                            động vào ngày
                                            <span class="date-cancel">1/6/2025</span></span> -->
                                        </div>
                                    </div>

                                    <div th:if="${transaction.shippingStatus == 5}">
                                        <span class="seller-status transferred">Đã giao</span>
                                        <div class="shopee-warning">
                                            <span class="shopee-status cancel-order">Huỷ đơn hàng trong <span
                                                    class="cancel-time">1</span> ngày</span>
                                            <!-- <span class="note-cancel-order">Vui lòng giao hàng, nếu không, đơn sẽ bị huỷ tự
                                            động vào ngày
                                            <span class="date-cancel">1/6/2025</span></span> -->
                                        </div>
                                    </div>

                                    <div th:if="${transaction.shippingStatus == 6}">
                                        <span class="seller-status transferred">Đã hủy</span>
                                        <div class="shopee-warning">
                                            <span class="shopee-status cancel-order">Huỷ đơn hàng trong <span
                                                    class="cancel-time">1</span> ngày</span>
                                            <!-- <span class="note-cancel-order">Vui lòng giao hàng, nếu không, đơn sẽ bị huỷ tự
                                            động vào ngày
                                            <span class="date-cancel">1/6/2025</span></span> -->
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="date-time-order"
                                    th:text="${#temporals.format(transaction.createdDate, 'dd/MM/yyyy HH:mm')}">31/5/2025
                                    11:20</span>
                            </td>
                            <td>
                                <span class="date-time-shipping">-</span>
                            </td>
                            <td>
                                <a href="#">Xem chi tiết</a>
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <script src="/assets/js/product-manage.js"></script>
    </div>
</body>

</html>