<!DOCTYPE html>
<html lang="en">

<head>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/seller-register.css">
    <link rel="stylesheet" href="/assets/css/seller-add-products.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>

<body>
    <div class="seller-add-products">
        <div class="sr-header">
            <div class="left">
                <div class="logo">
                    <img src="/assets/images/icon-shopee/logo.png" alt="">
                </div>
                <div class="title">
                    <span>Thêm sản phẩm mới</span>
                </div>
            </div>
            <div class="right">
                <button class="btn-account">
                    <div class="avt-img">
                        <img th:src="${user.avatar}" alt="">
                    </div>
                    <div class="account-name">
                        <span th:text="${user.name}">shironeko</span>
                    </div>
                    <div class="icon-btn">
                        <i class='bx bx-chevron-down'></i>
                    </div>
                </button>
            </div>
        </div>
        <form action="/seller/saveproduct" method="post" enctype="multipart/form-data">
            <div class="w-sap-main">
                <div class="container">
                    <div class="sap-main">
                        <div class="sap-navbar"></div>
                        <div class="content">
                            <div class="title">
                                <span> Thông tin sản phẩm</span>
                            </div>
                            <div class="w-main-content">
                                <div class="img-product main-ctn">
                                    <div class="tl">
                                        <span>
                                            Hình ảnh sản phẩm
                                        </span>
                                    </div>
                                    <div class="img-prd-content">
                                        <div class="label">Hình ảnh tỷ lệ 1:1</div>
                                        <div class="img-prd-list">
                                            <div class="img-product">
                                            </div>
                                            <div class="btn-add-img">
                                                <button type="button" class="btn-add btn-add-img">
                                                    <input type="file" name="images" id="img-input" accept="image/*" multiple
                                                        style="display: none;">
                                                    <i class='bx bx-image-add'></i>
                                                    <div class="btn-content">
                                                        <span>Thêm ảnh</span>
                                                        <div class="count-img">
                                                            <span>(</span>
                                                            <span class="current-count">0</span>
                                                            <span>/</span>
                                                            <span class="max-count">9</span>
                                                            <span>)</span>
                                                        </div>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="add-img-note note">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="video-product main-ctn">
                                    <div class="tl">
                                        <span>Video sản phẩm</span>
                                    </div>
                                    <div class="video-prd-content">
                                        <div class="video-prd">
                                            <div class="video-product" id="video-preview"></div>
                                            <button class="btn-add btn-add-video">
                                                <input type="file" id="video-input" accept="video/*"
                                                    style="display:none;">
                                                <i class='bx bxs-videos'></i>
                                                <div class="btn-content">
                                                    <span>Thêm video</span>
                                                </div>
                                            </button>
                                        </div>
                                        <div class="add-video-note">
                                            <ul>
                                                <li><span>Kích thước tối đa 30m, đồ phần giải không vượt quá 1200x
                                                        1280px</span></li>
                                                <li><span>Độ dài: 10s-60s</span></li>
                                                <li><span>Độ dài: 105-60s</span></li>
                                                <li><span>Lưu ý: sản phẩm có thể hiển thị trong khi video đang được xử
                                                        lý.
                                                        Video sẽ tự động hiển thị sau khi đã xử lý thành công</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="name-product main-ctn">
                                    <div class="tl">
                                        <span>Tên sản phẩm</span>
                                    </div>
                                    <input type="text" name="productName" id="name-prd"
                                        placeholder="Tên sản phẩm + Model + Thông số kỹ thuật" required>
                                </div>
                                <div class="prd-category main-ctn">
                                    <div class="tl"><span>Ngành hàng</span></div>
                                    <select name="category" id="category" required>
                                        <option value="">-- Chọn ngành hàng --</option>
                                        <th:block th:each="cat : ${categories}">
                                            <option th:value="${cat.id}" th:text="${cat.name}"></option>
                                        </th:block>
                                    </select>
                                    <select name="subcategoryId" id="subcategory" required>
                                        <option value="">-- Chọn danh mục con --</option>
                                    </select>
                                </div>
                                <script>
                                    document.getElementById('category').addEventListener('change', function () {
                                        const categoryId = this.value;
                                        console.log("Selected category ID:", categoryId);
                                        const subcategorySelect = document.getElementById('subcategory');
                                        subcategorySelect.innerHTML = '<option value="">-- Chọn danh mục con --</option>';

                                        if (categoryId) {
                                            fetch(`/seller/subcategories?categoryId=${categoryId}`)
                                                .then(response => response.json())
                                                .then(data => {
                                                    data.forEach(sub => {
                                                        const option = document.createElement('option');
                                                        option.value = sub.id;
                                                        option.textContent = sub.name;
                                                        subcategorySelect.appendChild(option);
                                                    });
                                                })
                                                .catch(error => {
                                                    console.error("Lỗi khi load subcategory:", error);
                                                });
                                        }
                                    });
                                </script>

                                <div class="description main-ctn">
                                    <div class="tl">
                                        <span>Mô tả sản phẩm</span>
                                    </div>
                                    <input type="hidden" name="description" id="description-input">
                                    <div class="description-prd-content">
                                        <div id="editor-toolbar">
                                            <span class="ql-formats">
                                                <button class="ql-bold"></button>
                                                <button class="ql-italic"></button>
                                                <button class="ql-image"></button>
                                            </span>
                                        </div>
                                        <div id="editor"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                <span> Thông tin chi tiết</span>
                            </div>
                            <div class="w-main-content">
                                <!-- <div class="brand-product main-ctn">
                                    <div class="tl">
                                        <span>
                                            Thương hiệu
                                        </span>
                                    </div>
                                    <input type="text" name="name-brand" id="name-brand" placeholder="Thương hiệu"
                                        required>
                                </div> -->
                                <div class="stock-quantity main-ctn">
                                    <div class="tl">
                                        <span>
                                            Số lượng tồn kho
                                        </span>
                                    </div>
                                    <input name="stock" type="text"  id="stock-qtt" placeholder="Số lượng sản phẩm"
                                        required>
                                </div>
                                <!-- <div class="weight-product main-ctn">
                                    <div class="tl">
                                        <span>
                                            Khối lượng
                                        </span>
                                    </div>
                                    <input type="text" name="weight-prd" id="weight-prd"
                                        placeholder="Khối lượng sản phẩm (kg)" required>
                                </div> -->
                                <div class="option-product main-ctn">
                                    <div class="tl">
                                        <span>
                                            Phân loại hàng
                                        </span>
                                    </div>
                                    <div class="type-attribute">
                                        <div class="add-attribute">
                                            <input type="text" class="type-input" placeholder="Tên thuộc tính">
                                            <input type="text" class="value-input" placeholder="Giá trị">
                                            <button type="button" class="btn-add-value">Thêm giá trị</button>
                                        </div>
                                        <button type="button" class="btn-add-attribute">Thêm thuộc tính mới</button>
                                        <button type="button" class="btn-add-complete">Hoàn tất</button>
                                    </div>
                                </div>
                                <div class="option-product-list main-ctn">
                                    <div class="tl">
                                        <span>
                                            Danh sách phân loại hàng
                                        </span>
                                    </div>
                                    <div class="option-prd-list">
                                        <!-- <div class="apply-all">
                                            <input type="text" class="all-price" placeholder="Giá tiền (đ)">
                                            <input type="text" class="all-stock" placeholder="Số lượng">
                                            <input type="text" class="variant-sku" placeholder="SKU phân loại">
                                            <button class="btn-apply-all">
                                                <span>Áp dụng cho tất cả</span>
                                            </button>
                                        </div> -->
                                        <div class="apply-prd">
                                            <table>
                                                <thead>
                                                    <tr></tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="variantJson" id="variant-json">

                            </div>
                        </div>
                        <!-- <div class="content">
                            <div class="w-main-content">
                                <div class="page shipping-info">
                                    <div class="title">
                                        <span class="name-title">Thông tin vận chuyển</span>
                                        <span class="info-title">Kích hoạt phương thức vận chuyển phù hợp</span>
                                    </div>
                                    <div class="content">
                                        <div class="item flash">
                                            <div class="top-item">
                                                <div class="name-item">
                                                    <span>Hỏa Tốc</span>
                                                </div>
                                            </div>
                                            <div class="main-item">
                                                <div class="name-option">
                                                    <span class="option">Hỏa Tốc</span>
                                                    <span class="option-info">[COD đã được kích hoạt]</span>
                                                </div>
                                                <div class="btn-check-option">
                                                    <input type="checkbox" id="check-flash">
                                                    <label for="check-flash" class="button"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item fast">
                                            <div class="top-item">
                                                <div class="name-item">
                                                    <span>Nhanh</span>
                                                </div>
                                            </div>
                                            <div class="main-item">
                                                <div class="name-option">
                                                    <span class="option">Nhanh</span>
                                                    <span class="option-info">[COD đã được kích hoạt]</span>
                                                </div>
                                                <div class="btn-check-option">
                                                    <input type="checkbox" id="check-fast">
                                                    <label for="check-fast" class="button"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item standard">
                                            <div class="top-item">
                                                <div class="name-item">
                                                    <span>Tiết kiệm</span>
                                                </div>
                                            </div>
                                            <div class="main-item">
                                                <div class="name-option">
                                                    <span class="option">Tiết kiệm</span>
                                                    <span class="option-info">[COD đã được kích hoạt]</span>
                                                </div>
                                                <div class="btn-check-option">
                                                    <input type="checkbox" id="check-standard">
                                                    <label for="check-standard" class="button"></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item oversized-items">
                                            <div class="top-item">
                                                <div class="name-item">
                                                    <span>Hàng Cồng Kềnh</span>
                                                </div>
                                            </div>
                                            <div class="main-item">
                                                <div class="name-option">
                                                    <span class="option">Hỏa Tốc</span>
                                                    <span class="option-info">[COD đã được kích hoạt]</span>
                                                </div>
                                                <div class="btn-check-option">
                                                    <input type="checkbox" id="check-oversized-items">
                                                    <label for="check-oversized-items" class="button"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="btn-seller-add-products">
                    <button type="button" class="btn-cancel btn">Huỷ</button>
                    <button type="submit" class="btn-complete btn">Hoàn tất</button>
                </div>
            </div>
        </form>
    </div>
    <div class="footer">
        <div th:insert="~{footer :: footer}"></div>
    </div>
    <script src="/assets/js/seller-add-products.js">
    </script>
</body>