<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/assets/images/R.png}" type="image/x-icon">
    <title>Điền thông tin</title>
    <link rel="stylesheet" th:href="@{/assets/css/info-form.css}">
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <link rel="stylesheet" th:href="@{/assets/css/toastmsg.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="toast"></div>
    <div class="container">
        <div class="header">
            <div class="grid">
                <div class="login-group">
                    <img th:src="@{/assets/images/ph-shopee.jpg}" alt="shopee-icon">
                    <div>Xác Nhận Thông Tin</div>
                </div>
                <div class="link-group">
                    <a th:href="@{/logout}">Đăng xuất</a>
                </div>
            </div>
        </div>
        <div class="contain-body">
            <div class="content">
                <div class="space">
                    <img class="space-icon" th:src="@{/assets/images/Untitled.png}" alt="shopee-icon">
                </div>
                <div class="right-space">
                    <div class="form">
                        <form action="/buyer/verify/submit" method="post" name ="info-form" id="info-form">
                            <div class="form-header">
                                <h2>Thông tin cá nhân</h2>
                                <p>Vui lòng điền thông tin bên dưới</p>
                            </div>
                            <div class="body">
                                <div class="pagination">
                                    <div class="number active">1</div>
                                    <div class="bar"></div>
                                    <div class="number">2</div>
                                    <div class="bar"></div>
                                    <div class="number">3</div>
                                    <div class="bar"></div>
                                    <div class="number">4</div>
                                </div>

                                <div class="steps">
                                    <div class="step">
                                        <h4>Thông tin đại diện</h4>
                                        <p>Nhập thông tin của người đại diện</p>
                                        <div class="space-grid-row">
                                            <div class="row">
                                            </div>
                                            <div class="row">
                                                <label for="name">Tên đại diện</label>
                                                <input name="name" type="text" id="name"
                                                    th:value="${verifyUser.name != null ? verifyUser.name : ''}"
                                                    placeholder="Nhập tên đại diện" 
                                                    class="input-act"
                                                    th:classappend="${name != null} ? 'error-input' : ''">
                                            </div>
                                            <div th:if="${name != null}" id="name-error-warn" class="authen-input" style="text-align: center;" th:text="${name}"></div>
                                        </div>
                                    </div>

                                    <div class="step">
                                        <h4>Xác thực thông tin</h4>
                                        <p>Vui lòng nhập email và nhập mã xác thực.</p>
                                        <div class="space-grid-row">
                                            <div class="row">
                                                <label for="gmail">Gmail&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                <input name="gmail" type="text" id="gmail" 
                                                        th:value="${verifyUser.gmail != null && verifyUser.gmail != 'example@gmail.com' ? verifyUser.gmail : ''}"
                                                        class="input-act"
                                                        th:classappend="${gmail != null} ? 'error-input' : ''"
                                                        placeholder="Nhập gmail của bạn">
                                            </div>
                                            <div th:if="${gmail != null}" id="gmail-error-warn" class="authen-input" style="text-align: center;" th:text="${gmail}"></div>
                                            <div class="row">
                                                <label for="authen-gmail-code">Mã xác thực</label>
                                                <input name="codeMail" type="text" id="authen-gmail-code" maxlength="6" class="code-input input-act" 
                                                        th:classappend="${codeMail != null} ? 'error-input' : ''">
                                                <button type="button" class="send-btn" onclick="sendAuthenCodeMail()">Nhận mã</button>
                                            </div>
                                            <div th:if="${codeMail != null}" id="authen-gmail-code-error-warn" class="authen-input" style="text-align: center;" th:text="${codeMail}"></div>
                                        </div>
                                    </div>

                                    <div class="step">
                                        <h4>Xác thực thông tin</h4>
                                        <p>Vui lòng số điện thoại và nhập mã xác thực.</p>
                                        <div class="space-grid-row">
                                            <div class="row">
                                                <label for="phone">Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                <input name="phone" type="text" id="phone" 
                                                        th:value="${verifyUser.phone != null ? verifyUser.phone : ''}"
                                                        class="code-input input-act"
                                                        th:classappend="${phone != null} ? 'error-input' : ''"
                                                        placeholder="Nhập số điện thoại của bạn"
                                                        maxlength="11">    
                                            </div>
                                            <div th:if="${phone != null}" id="phone-error-warn"  class="authen-input" style="text-align: center;" th:text="${phone}"></div>
                                            <div class="row">
                                                <label for="authen-phone-code">Mã xác thực</label>
                                                <input name="codePhone" type="text" id="authen-phone-code" maxlength="6" class="code-input input-act"
                                                    th:classappend="${codePhone != null} ? 'error-input' : ''">
                                                <button type="button" class="send-btn" onclick="sendAuthenCodePhone()">Nhận mã</button>
                                            </div>
                                            <div th:if="${codePhone != null}" id="authen-phone-code-error-warn" class="authen-input" style="text-align: center;" th:text="${codePhone}"></div>
                                        </div>
                                    </div>

                                    <div class="step">
                                        <div class="confirmation">
                                            <h4>Xác nhận</h4>
                                            <p>Vui lòng kiểm tra kỹ lưỡng các thông tin trước khi hoàn tất gửi biểu mẫu. Chúng tôi xin chân thành cảm ơn bạn đã tin tưởng và cung cấp thông tin.</p>
                                            <div>
                                                <button type="submit" class="confir-btn">Gửi</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space-footer">
                                <button type="button" class="prev" disabled>Quay lại</button>
                                <button type="button" class="next">Tiếp theo</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div th:insert="~{footer :: footer}"></div>
        </div>
    </div>
</body>
<script th:src="@{/assets/js/info-form.js}"></script>
<script th:src="@{/assets/js/toastmsg.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</html>



<script>
    function sendAuthenCodeMail() {
        if($("#gmail").val() != "") {
            $.ajax({
                type: "POST",
                url: "/buyer/verify/sendMail",
                data: {
                    email: $("#gmail").val()
                },
                success: function(res) {
                    if(res == "success") {
                        toast({
                            title: 'Gửi Mail thành công',
                            content: 'Vui lòng kiểm tra email của bạn',
                            type: 'success',
                            duration: 2000
                        });
                    }
                },
                error: function(err) {
                    toast({
                        title: 'Gửi Mail thất bại',
                        content: err.responseText,
                        type: 'error',
                        duration: 2000
                    });
                }
            })
        }
    }

    function sendAuthenCodePhone() {
        if($("#phone").val() != "") {
            $.ajax({
                type: "POST",
                url: "/buyer/verify/sendPhone",
                data: {
                    phone: $("#phone").val()
                },
                success: function(res) {
                    if(res == "success") {
                        toast({
                            title: 'Gửi tin nhắn thành công',
                            content: 'Vui lòng kiểm tra điện thoại của bạn',
                            type: 'success',
                            duration: 2000
                        });
                    }
                },
                error: function(err) {
                    toast({
                        title: 'Gửi tin nhắn thất bại',
                        content: err.responseText,
                        type: 'error',
                        duration: 2000
                    });
                }
            })
        }
    }
</script>