<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.thymeleaf.org/extras/spring-security6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/assets/images/R.png}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="grid">
                <div class="login-group">
                    <img th:src="@{/assets/images/ph-shopee.jpg}" alt="shopee-icon">
                    <div>Đăng Nhập</div>
                </div>
                <div class="link-group">
                    <a href="">Bạn cần giúp đỡ ?</a>
                </div>
            </div>
        </div>
        <div class="contain-body">
            <div class="content">
                <div class="space">
                    <img class="space-icon" th:src="@{/assets/images/Untitled.png}" alt="shopee-icon">
                </div>
                <div class="right-space">
                    <div class="space-header">
                        <div class="space-header-content">
                            <div>Đăng nhập</div>
                        </div>
                    </div>
                    <div class="space-body">
                        <form class="login-form" th:action="@{/login}" method="post">
                            <div th:if="${error}" class="warn-box">
                                <div class="warn-icon">
                                    <i class="fa-regular fa-circle-xmark fa-xs" style="color: #ff4000;"></i>
                                </div>
                                <p th:text="${error}"></p>
                            </div>
                            <div class="normal-box">
                                <input id="username" name="username" class="normal-key" type="text"
                                    placeholder="Email/Số điện thoại/Tên đăng nhập">
                            </div>
                            <div id="authen-username-input" class="authen-input hide">Vui lòng điền vào mục này.</div>
                            <div class="pad"></div>
                            <div class="pass-box">
                                <input id="password" name="password" class="password" type="password"
                                    placeholder="Mật khẩu">
                                <button type="button" id="pass-hide-btn" class="eye-btn">
                                    <div class="icon-eye">
                                        <i class="fa-solid fa-eye-slash"></i>
                                    </div>hide
                                </button>
                            </div>
                            <div id="authen-password-input" class="authen-input hide">Vui lòng điền vào mục này.</div>
                            <div class="pad"></div>
                            <button type="submit" id="login-btn" class="normal-btn btn-disbled" disabled>ĐĂNG
                                NHẬP</button>
                            <div class="link-bot">
                                <a href="">Quên mật khẩu</a>
                                <a href="">Đăng nhập với SMS</a>
                            </div>
                            <div class="partition">
                                <div class="dash"></div>
                                <span class="ptt-center">HOẶC</span>
                                <div class="dash"></div>
                            </div>
                            <div class="other">
                                <button type="button" onclick="loginWithFacebook()">
                                    <i class="fa-brands fa-facebook fa-xl"
                                        style="color: #0e50c4; margin-right: 8px;"></i>Facebook</button>
                                <button type="button" class="google-btn" onclick="loginWithGoogle()">
                                    <div class="google-icon"></div>
                                    <div>Google</div>
                                </button>

                                <script>
                                    function loginWithGoogle() {
                                        window.location.href = "/oauth2/authorization/google";
                                    }
                                    function loginWithFacebook() {
                                        window.location.href = "/oauth2/authorization/facebook";
                                    }
                                </script>

                            </div>
                            <div class="end-form">
                                Bạn mới biết đến Shopee?&nbsp;&nbsp;
                                <a href="register">Đăng kí</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div th:insert="~{footer :: footer}"></div>
        </div> 
    </div>
</body>

</html>

<script th:src="@{/assets/js/login.js}"></script>