<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="@{/assets/images/R.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/login.css}">
    <link rel="stylesheet" th:href="@{/assets/css/toastmsg.css}">
    <title>Register</title>
</head>

<body>
    <div id="toast"></div>
    <div class="big-container">
        <div class="header">
            <div class="grid">
                <div class="login-group">
                    <img th:src="@{/assets/images/ph-shopee.jpg}" alt="shopee-icon">
                    <div>Đăng kí</div>
                </div>
                <div class="link-group">
                    <a href="">Bạn cần giúp đỡ ?</a>
                </div>
            </div>
        </div>
        <div class="contain-body">
            <div class="content">
                <div class="space">
                    <img class="space-icon" th:src="@{/assets/images/Untitled.png}" alt="shopee-icon">
                </div>
                <div class="right-space">
                    <div class="space-header">
                        <div class="space-header-content">
                            <div>Đăng kí</div>
                        </div>
                    </div>
                    <div class="space-body">
                        <form class="login-form" method="post" action="/register/save">
                            <div th:if="${message}" class="warn-box">
                                <div class="warn-icon">
                                    <i class="fa-regular fa-circle-xmark fa-xs" style="color: #ff4000;"></i>
                                </div>
                                <p th:text="${message}"></p>
                            </div>
                            <div class="normal-box">
                                <input id="username" name="username" class="normal-key" type="text"
                                    placeholder="Tên đăng nhập">
                            </div>
                            <div id="authen-username-input" class="authen-input hide">Vui lòng điền vào mục này.</div>
                            <div class="pad"></div>
                            <div class="normal-box">
                                <input id="name" name="name" class="normal-key" type="text"
                                    placeholder="Nhập tên đại diện">
                            </div>
                            <div id="authen-name-input" class="authen-input hide">Vui lòng điền vào mục này.</div>
                            <div class="pad"></div>
                            <div class="pass-box">
                                <input id="password" name="password" class="password" type="password"
                                    placeholder="Mật khẩu">
                                <button type="button" id="pass-hide-btn" class="eye-btn">
                                    <div class="icon-eye">
                                        <i class="fa-solid fa-eye-slash"></i>
                                    </div>hide
                                </button>
                            </div>
                            <div id="authen-password-input" class="authen-input hide">Vui lòng điền vào mục này.</div>
                            <div class="pad"></div>
                            <div class="pass-box retype">
                                <input id="retype-pass" class="password" type="password"
                                    placeholder="Nhập lại mật khẩu">
                                <button type="button" id="pass-hide-btn-1" class="eye-btn">
                                    <div class="icon-eye">
                                        <i class="fa-solid fa-eye-slash"></i>
                                    </div>hide
                                </button>
                            </div>
                            <div id="authen-retypepass-input" class="authen-input hide">Vui lòng điền vào mục này.</div>
                            <div class="pad"></div>
                            <div class="normal-box">
                                <input id="gmail" name="gmail" class="normal-key" type="text"
                                    placeholder="Nhập Gmail">
                            </div>
                            <div id="authen-gmail-input" class="authen-input hide">Vui lòng điền vào mục này.</div>
                            <div class="pad"></div>
                            <div class="code-box">  
                                <input id="code-mail" name="codeMail" class="code-box-input" type="text" maxlength="6"
                                    placeholder="Nhập code đã gửi vào Gmail">
                                <button type="button" id="send-code-mail" onclick="sendAuthenCodeMail()" class="send-btn">Gửi code</button>
                            </div>
                            <div id="authen-codemail-input" class="authen-input hide">Vui lòng điền vào mục này.</div>
                            <div class="pad"></div>
                            <div class="normal-box">
                                <input id="phone" name="phone" class="normal-key" type="text"
                                    placeholder="Nhập số điện thoại">
                            </div>
                            <div id="authen-phone-input" class="authen-input hide">Vui lòng điền vào mục này.</div>
                            <div class="pad"></div>
                            <div class="code-box">  
                                <input id="code-phone" name="codePhone" class="code-box-input" type="text" maxlength="6"
                                    placeholder="Nhập code đã gửi vào số điện thoại">
                                <button type="button" id="send-code-phone" onclick="sendAuthenCodePhone()" class="send-btn">Gửi code</button>
                            </div>
                            <div id="authen-codephone-input" class="authen-input hide">Vui lòng điền vào mục này.</div>
                            
                            <div class="pad"></div>
                            <button type="submit" id="login-btn" class="normal-btn btn-disbled" disabled>ĐĂNG
                                KÍ</button>

                            <div class="partition">
                                <div class="dash"></div>
                                <span class="ptt-center">HOẶC</span>
                                <div class="dash"></div>
                            </div>
                            <div class="other">
                                <button type="button" onclick="loginWithFacebook()">
                                    <i class="fa-brands fa-facebook fa-xl"
                                        style="color: #0e50c4; margin-right: 8px;"></i>Facebook</button>
                                <button type="button" class="google-btn" onclick="loginWithGoogle()">
                                    <div class="google-icon"></div>
                                    <div>Google</div>
                                </button>

                                <script>
                                    function loginWithGoogle() {
                                        window.location.href = "/oauth2/authorization/google";
                                    }
                                    function loginWithFacebook() {
                                        window.location.href = "/oauth2/authorization/facebook";
                                    }
                                </script>
                            </div>
                            <div class="end-form">
                                Bạn đã có tài khoản?&nbsp;&nbsp;
                                <a href="login">Đăng nhập</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div th:insert="~{footer :: footer}"></div>
        </div> 
    </div>
</body>

</html>

<script th:src="@{/assets/js/register.js}"></script>
<script th:src="@{/assets/js/toastmsg.js}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function sendAuthenCodeMail() {
        if($("#gmail").val() != "") {
            $.ajax({
                type: "POST",
                url: "/register/sendMail",
                data: {
                    email: $("#gmail").val()
                },
                success: function(res) {
                    if(res == "success") {
                        toast({
                            title: 'Gửi Mail thành công',
                            content: 'Vui lòng kiểm tra email của bạn',
                            type: 'success',
                            duration: 2000
                        });
                    }
                },
                error: function(err) {
                    toast({
                        title: 'Gửi Mail thất bại',
                        content: err.responseText,
                        type: 'error',
                        duration: 2000
                    });
                }
            })
        }
    }

    function sendAuthenCodePhone() {
        if($("#phone").val() != "") {
            $.ajax({
                type: "POST",
                url: "/register/sendPhone",
                data: {
                    phone: $("#phone").val()
                },
                success: function(res) {
                    if(res == "success") {
                        toast({
                            title: 'Gửi tin nhắn thành công',
                            content: 'Vui lòng kiểm tra điện thoại của bạn',
                            type: 'success',
                            duration: 2000
                        });
                    }
                },
                error: function(err) {
                    toast({
                        title: 'Gửi tin nhắn thất bại',
                        content: err.responseText,
                        type: 'error',
                        duration: 2000
                    });
                }
            })
        }
    }
</script>